nav{
    background-color: rgb(47, 199, 75);
    padding: 5px;
    border: 1px solid darkgreen;
    border: 5px;
}    

nav ul li{
    list-style-type: none;
    background-color: rgb(27, 212, 233);
    display: inline;
    padding: 15px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li:hover{
    background-color:rgb(210, 64, 210);
}

nav ul {
    text-align: center;
    font: 1.2em;
}

#active{
    background-color: rgb(27, 154, 233);
}

.logo{
    float: left;
    height: 80px;
    width: 120px;
}

header{
    background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border: 1px solid lightblue;
    text-align: center;
}

#bigPic {
    width: 75%;
}

.showimages{
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;       /* top margin is 0
                                    right margin is 10px
                                    bottom margin is 0
                                    left margin is 10px */
}


section.manager{
    max-height: 350px;
    overflow: auto;
    text-align: justify;
}

.col_detail{
    column-count: 3;
    column-rule: 2px solid red ;
    column-gap: 50px;
    padding: 2px;
    text-align: justify;
}

.provinces{
    width: 130px;
    height: 150px;

}

footer ul li {
    list-style-type: none;
    color: white;
    display: inline;
    padding: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    display: inline;
}

footer {
    clear: both;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: rgb(40, 145, 225);
    text-align: center;
}


#Maincontent {
    float: left;
    width: 100%;
    border: 1px solid white;
}

aside ul li {
    list-style-type: none;
}

aside ul li a {
    color: #08dcf4;
    text-decoration: none;
}

body{
    font-family: Verdana;
    background-color: rgb(106, 210, 106);
    color: black;
}

p {
    text-align: justify;
    padding: 2px;
    color: black;
}

.course {
    text-align: center;
    padding: 10px;
    border: 1px solid white;
}

.videoContent {
    float: left;
    width: 48%;
    border: 2px solid white;
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
}

.videoContent1 {
    float:right;
    width: 48%;
    border: 2px solid white;
    max-height: 400px;
    min-height: 400px;
    overflow: auto;
}

.backgroundImageB {
    background-image: url(../images/hurling_3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.backgroundImageC {
    background-image: url(../images/gaelic_football_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.backgroundImageE {
    background-image: url(../images/rugby_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.backgroundImageF {
    background-image: url(../images/irish_football_team.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}


main a {
    color: hotpink;
    text-decoration: none;
}

h1{
    color: black;
}


table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
}

th,td,tr{
    border: 1px solid black;
    text-align: left;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}
  
.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
  }
  
  .collage img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin: 5px;
  }